<%= form_for(@poder, remote: true) do |f| %>
    <% if @poder.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@poder.errors.count, "error") %> prohibited this poder from being saved:</h2>
          <ul>
            <% @poder.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <%= text_field_tag :apoderado_rut, nil, class: 'normal-form-field', placeholder: 'RUT representante' %><br>
    <%= text_field_tag :poderante_rut, nil, class: 'normal-form-field', placeholder: 'RUT representado' %><br>

    <div class="field">
      <%= f.label :fecha_otorgamiento%><br>
      <%= f.date_select :fecha_otorgamiento %>
    </div>

    <div class="field">
     ¿Representante es socio?<br>
      <%= radio_button_tag(:socio, "si",true) %>
      <%= label_tag(:socio_si, "Sí") %>&nbsp;
      <%= radio_button_tag(:socio, "no") %>
      <%= label_tag(:socio_no, "No") %>
    </div>

    <div id="no_socio" hidden>

      <%= text_field_tag :apoderado_nombre, nil, class: 'normal-form-field', placeholder: 'nombre representante' %><br>

      <div class="field">
        <%= label_tag :relacion_partes %><br>
        <% arreglo_partes = Poder.relaciones_partes.map { |relacion| [relacion, Poder.relaciones_partes.index(relacion)] } %>
        <%= f.select(:relacion_partes, arreglo_partes) %>
      </div>

    </div>

      <%= f.hidden_field :votacion_id, value: @votacion.id%>
    <div class="actions">
      <%= f.submit 'ingresar poder', class: 'boton-naranjo', id: "new-poder-submit" %>
      <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    </div>
<% end %>
