<div class="col-md-8 col-md-offset-1">
  <div class="listing">


  <h4>Lista de poderes</h4>
    <% if params[:controller] == 'poders' %>
        <%= form_tag(poders_path(votacion_id: @votacion.id), method: "get") do %>
            <%= hidden_field_tag 'votacion_id', @votacion.id %>
            <%= text_field_tag(:rut, nil, placeholder: "Buscar por RUT")%><%= submit_tag 'Buscar', class: 'boton-naranjo' %><br>
        <% end %><br>
    <% end %>
    <%= paginate @poders %><br>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th width="5%"> N°</th>
        <th width="15%">Representado</th>
        <th width="15%">Representante</th>
        <th width="15%">Fecha de otorgamiento</th>
        <th>Estado</th>
        <th colspan="1">
      </tr>
      </thead>

      <tbody>
      <% @i = 1 %>
      <% @poders.each do |poder| %>
        <tr>
          <td><%= @per*(-1+ @poders.current_page) + @i %></td>
          <% if poder.poderante.nil?%>
            <td>No tiene</td>
          <% else %>
            <td><%= link_to poder.poderante.rut_string, poder.poderante %></td>
          <%end%>
          <% if poder.apoderado.nil? %>
            <td>No tiene</td>
          <% else %>
            <td><%= link_to poder.apoderado.rut_string, poder.apoderado %></td>
          <%end%>
          <td><%= poder.fecha_otorgamiento %></td>
          <td><%= poder.estado_str %></td>
          <td class="td-ver">
            <% if current_user && current_user.es_admin_autorizado %>
                <%= button_to 'Eliminar', poder, class: 'boton-ver boton-poder eliminar', method: 'delete', 'data-toggle' => 'popover', 'data-trigger' => 'hover' %>
            <% end %>
          </td>
        </tr>
      <% @i += 1 %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>