<div class="modal-dialog">
  <div class="modal-content">
    <div class="normal-form" id="new-poder-form">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4>Agregar poder</h4>
      <%= render 'form' %>
    </div>
  </div>
</div><!-- /.modal-dialog -->