<div class="row titulo-seccion">
  <h3 class="menu-title">
    <span class="thin-underline"><%= @votacion.nombre %></span>
    <small><%= @votacion.fecha_realizacion %></small>
  </h3>
  </div>
<div class="row">
  <div class="col-md-12">
    <h4 class="menu-title">Poderes</h4>
    <div class="no-decor">
      <% if @votacion.estado == 0 %>
          <%= link_to '<span class="glyphicon glyphicon-plus" data-container="body" data-toggle="tooltip" data-placement="top" title="Agregar poderes"></span>'.html_safe, new_poder_path(params: {votacion_id: @votacion.id}), remote: true, 'data-backdrop' => true, 'data-toggle' => 'modal', 'data-target' => '#modal-new-poder', id:'agregar-poder'%>
      <%end%>
    </div>
  </div>
</div>


<div class="row">
    <%= render 'list' %>
</div>


<div class="modal modal-centrado fade" id="modal-new-poder" tabindex="-1" role="dialog"></div>

