<p id="notice"><%= notice %></p>


<p>
  <strong>Votación:</strong>
    <%= link_to @poder.votacion.nombre, @poder.votacion %>
</p>

<p>
  <strong>Poderante:</strong>
    <%= link_to @poder.poderante.rut_string, @poder.poderante %>
</p>

<p>
  <strong>Apoderado:</strong>
    <%= link_to @poder.apoderado.rut_string, @poder.apoderado %>
</p>

<p>
  <strong>Fecha de otorgamiento:</strong>
    <%= @poder.fecha_otorgamiento %>

</p>
<p>
  <strong>Es válido? </strong>
  <%= boolean_to_s(@poder.valido) %>
</p>

  <p>
    <% if @poder.apoderado.es_socio %>
    <% elsif @poder.es_relacion_invalida?  %>
      El apoderado no es un apoderdo válido.(No es socio de la cooperativa, cónyuge, hijo o trabajador del poderante)
    <% else %>
      El apoderado es <%=  @poder.relacion_partes_s  %> del poderante.
    <% end  %>
  </p>

<%= link_to 'Back', votacion_path(@poder.votacion) %>
