<div class="row">
  <div class="col-md-9"></div>
  <div class="col-md-3">
    <%= link_to '/invitado', class: 'btn btn-default boton-gris', id: 'nuevo_usuario' do %>
        <strong><span class="glyphicon glyphicon-user mas"></span> Invitado</strong></span>
    <% end %>
  </div>
</div>

<div class="row login-form">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="boton-wrapper">
    <%= form_tag '/login', remote: true do %>
        <div class="form-group">
          <%= text_field_tag :username, nil, placeholder: 'usuario', class:'text-field'  %>
        </div>
        <div class="form-group">
        <%= password_field_tag :password, nil, placeholder: 'contraseña', class:'text-field'  %>
        </div>

        <%= submit_tag "ingresar", class: 'boton-naranjo' %>
        </div>
    <% end %>
  </div>
  <div class="col-md-4"></div>
</div>

<div class="modal fade" id="modal-new-user" tabindex="-1" role="dialog"></div>

<div class="row">
</div>