
    <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibieron que este usuario se guardara:</h2>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.text_field :username, class: 'normal-form-field', placeholder: 'Nombre de usuario' %><br>
      <%= f.password_field :password, class: 'normal-form-field', placeholder: 'Contraseña' %><br>
      <%= f.password_field :password_confirmation, class: 'normal-form-field', placeholder: 'Repetir contraseña' %><br>
      <% arreglo_tipos = User.tipos.map { |tipo| [tipo, User.tipos.index(tipo)] } %>
      <%= f.select :tipo, arreglo_tipos[0..-2],{prompt: 'Tipo de usuario'}, { :class => 'normal-form-field' } %>
      <%= f.submit "Agregar", class: 'boton-naranjo', id: "new-user-submit" %>
    <% end %>


