<div class="col-md-8 listing-usuarios listing">

<h4>Lista de usuarios</h4>

<table class="table table-bordered table-usuarios">
  <thead>
  <tr>
    <th>Nombre de usuario</th>
    <th>Tipo de usuario</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.tipo_str %></td>
        <td class="td-ver">
          <%#= button_to 'Ver', user, method: 'get', class: 'boton-ver' %>
          <% if current_user && current_user.es_admin_autorizado && user.tipo != 4 %>
            <%= button_to 'Eliminar', user, method: :delete, data: { confirm: '¿Esá seguro que desea eliminar este usuario?' }, class: 'boton-ver' %>
          <% end %>
        </td>
        <td class="td-ver">
          <% if current_user && current_user.es_admin_autorizado && user.tipo != 4 %>
              <% if user.auth %>
                  <%= button_to "Autorizado", unactivate_user_path(user), method: :put, class: 'boton-aut' %>
              <% else %>
                  <%= button_to "Desautorizado", activate_user_path(user), method: :put, class: 'boton-aut inactivo' %>
              <% end %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

</div>
