<div class="modal-dialog">
  <div class="modal-content">
    <div class="normal-form" id="new-user-form">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <%= render 'form' %>
      </div>
  </div>
</div><!-- /.modal-dialog -->