<div class="usuarios">
  <div class="row titulo-seccion"><h3><span class="thin-underline">Usuarios</span></h3></div>
  <div class="row seccion">
      <%= render 'listing' %>
    <div class="col-md-2">
      <%= link_to new_user_path, class: 'btn btn-default boton-gris', id: 'nuevo_usuario', remote: true, 'data-backdrop' => true, 'data-toggle' => 'modal', 'data-target' => '#modal-new-user' do %>
          <strong><span class="mas">+</span></strong> Nuevo <span class="weigth-500">usuario</span>
      <% end %>
    </div>
  </div>
</div>


<div class="modal fade" id="modal-new-user" tabindex="-1" role="dialog"></div>