<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @user.tipo_str %>
</p>

<p>
  <strong>Auth:</strong>
  <%= @user.auth %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
