<script>
    var tipo= <%= @tipo %>;
    <%@candidatos.sort_by { |f | [f.votos_recibidos_totales] }%>
    var colors = ['#575756', '#878787', '#9D9D9C', '#B2B2B2'];
    var data<%= @tipo %> = [
        {
            key: "Cumulative Return",
            values: [
                {
                    "index": 0,
                    "label": "Blancos",
                    "electo": false,
                    "value":<%=
            if @tipo == 1
                @votacion.votos_blancos_totales
            elsif @tipo==2
                @votacion.votos_blancos_y_fuera_de_tiempo_electronicos
            else
                @votacion.votos_blancos_manuales
            end%>
                },
                {
                    "index": 1,
                    "label": "Nulos",
                    "electo": false,
                    "value": <%=
            if @tipo == 1
                @votacion.votos_nulos_totales
            elsif @tipo==2
                @votacion.votos_nulos_electronicos
            else
                @votacion.votos_nulos_manuales
            end%>
                },
                <% @i = 2 %>
                <% @candidatos.each do |candidato| %>
                {
                    "index": <%= @i %>,
                    "label": "<%= candidato.nombre_resultado %>",
                    "electo": <%= candidato.electo %>,
                    "value": <%=
            if @tipo == 1
                candidato.votos_recibidos_totales
            elsif @tipo == 2
                candidato.votos_recibidos_electronicos
            else
                candidato.votos_recibidos_manuales
            end%>
                    <% @i+= 1 %>
                },
                <% end %>
            ]
        }
    ];

    nv.addGraph(function () {
        var chart = nv.models.discreteBarChart()
                        .x(function (d) {
                            return d.label
                        })
                        .y(function (d) {
                            return d.value
                        })
                        .tooltips(false)
                        .showValues(true)
                        .showYAxis(false)
                        .valueFormat(d3.format(",.0f"))
                        .color(function (d) {
                            if (d.electo) {
                                return "#FB7824";
                            }
                            return colors[d.index % colors.length];
                        })
                ;
        d3.select("#pie-chart-<%="#{@votacion.id}-#{@tipo}"%> svg")
                .datum(data<%= @tipo %>)
                .transition().duration(1200)
                .call(chart)
                .selectAll('.nv-label text').call(wrap2, 60);

        if (tipo != 1){
            var te = d3.selectAll('#pie-chart-<%="#{@votacion.id}-#{@tipo}"%> svg').selectAll('.tick text');
            te.call(wrap, 100);
        }

        return chart;
    });



    formatPieChart();

    function wrap(text, width) {
        text.each(function() {
            var text = d3.select(this),
                    words = text.text().split(/\s+/).reverse(),
                    word,
                    line = [],
                    lineNumber = 0,
                    lineHeight = 1.1, // ems
                    y = text.attr("y"),
                    dy = parseFloat(text.attr("dy")),
                    tspan = text.text(null).append("tspan").attr("x", 0).attr("y", y).attr("dy", dy + "em");
            while (word = words.pop()) {
                line.push(word);
                tspan.text(line.join(" "));
                if (tspan.node().getComputedTextLength() > width) {
                    line.pop();
                    tspan.text(line.join(" "));
                    line = [word];
                    tspan = text.append("tspan").attr("x", 0).attr("y", y).attr("dy", ++lineNumber * lineHeight + dy + "em").text(word);
                }
            }
        });
    }

    function wrap2(text, width) {
        text.each(function() {
            var text = d3.select(this),
                    words = text.text().split(/\s+/).reverse(),
                    word,
                    line = [],
                    lineNumber = 0,
                    lineHeight = 1.2, // ems
                    y = text.attr("y"),
                    tspan = text.text(null).append("tspan").attr("x", 0).attr("y", y).attr("dy", "0em");
            while (word = words.pop()) {
                line.push(word);
                tspan.text(line.join(" "));
                if (tspan.node().getComputedTextLength() > width) {
                    line.pop();
                    tspan.text(line.join(" "));
                    line = [word];
                    tspan = text.append("tspan").attr("x", 0).attr("y", y).attr("dy", lineHeight + "em").text(word);
                }
            }
        });
    }
</script>