<div class="modal-dialog">
  <div class="modal-content">
    <div class="listing modal-listing" id="edit-poderes-extra-form">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4>Editar número de poderes</h4>
      <%= render 'form_edit_poderes_extra' %>
    </div>
  </div>
</div>