<div class="modal-dialog">
  <div class="modal-content">
    <div class="listing modal-listing" id="edit-poderes-extra-form">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4>Ingresar base de datos de socios</h4>
      <%= form_tag create_collection_personas_path(votacion_id: @votacion.id), method: :post, multipart: true do %>
          <br>
          <br>
          <%= file_field_tag :file %><br>
    <div class="align-left">
      <h4>Instrucciones</h4>
      <p>El archivo de datos puede demorarse varios minutos en cargarse. Éste debe ser un archivo excel con el siguiente formato.</p>
      <ul>
        <li>
          <strong> Columna A: </strong>RUT (sólo números, sin dígito verificador)
        </li>
        <li>
          <strong> Columna B: </strong>dígito verificador
        </li>
        <li>
          <strong> Columna C: </strong>nombre
        </li>
        <li>
          <strong> Columna D: </strong>empresa
        </li>
        <li>
          <strong> Columna E: </strong>fecha de ingreso
        </li>
        <li>
          <strong> Columna F: </strong>restricción "no puede ser candidatos"
          <ul>
            <li>
              Campo con una <strong>"X"</strong> indica <strong>socio con restricción</strong>
            </li>
            <li>
              Campo vacío indica <strong>socio sin restricción</strong>
            </li>
          </ul>
        </li>
      </ul>

      <p>La <strong>fila 1</strong> corresponde a los nombres de los campos. Si se encuentra un registro en esta fila, no será considerado</p>
      </div>
          <%= submit_tag "ingresar", class: 'boton-naranjo', id:'ingresar-bd' do %>
          <% end %>
      <% end %>

    </div>

  </div>
</div>