<%= form_for(@votacion) do |f| %>
    <% if @votacion.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@votacion.errors.count, "error") %> prohibieron que esta votacion se guardara:</h2>

          <ul>
            <% @votacion.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <%= f.text_field :nombre, class: 'normal-form-field', placeholder: 'Nombre de Votación' %>
    <%= f.number_field :max_representacion, class: 'normal-form-field', placeholder: '% Máximo De Representación' %><br>
    <%= f.number_field :n_ganadores, class: 'normal-form-field', placeholder: 'Número de Vacantes' %><br>
    <%= f.number_field :max_minutos_voto, class: 'normal-form-field', placeholder: 'Tiempo Máximo Votación (minutos)' %>
    <br>
    <%= f.number_field :n_cabinas, class: 'normal-form-field', placeholder: 'Nro. Cabinas de Votación' %><br>
    <div class="field">
      <%= f.label :fecha_realizacion %><br>
      <%= f.date_select :fecha_realizacion %>
    </div>
    <div class="actions">
      <%= f.submit "Agregar", class: 'boton-naranjo', id: "new-votacion-submit" %>
    </div>
<% end %>
