<%= form_for(@votacion) do |f| %>
  <% if @votacion.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@votacion.errors.count, "error") %> prohibieron que los datos se editaran:</h4>
      <ul>
        <% @votacion.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <table class="table table-bordered">
      <tr>
        <td>Válidos</td>
        <td><%= @votacion.poders.arreglo_estados[0]%></td>
      </tr>
      <tr>
        <td>Nulos por inasistencia del representante</td>
        <td><%= @votacion.poders.arreglo_estados[1]%></td>
      </tr>
      <tr>
        <td>Nulo por asistencia del representado</td>
        <td><%= @votacion.poders.arreglo_estados[2]%></td>
      </tr>
      <tr>
        <td>Nulo por poder más reciente</td>
        <td><%= @votacion.poders.arreglo_estados[3]%></td>
      </tr>
      <tr>
        <td>Blancos</td>
        <td  class="fondo-transparente-F6F6F6 align-center"><%= f.number_field :n_blancos, class:'align-center' %></td>
      </tr>
      <tr>
        <td>Nulos fuera de plazo</td>
        <td class="fondo-transparente-F6F6F6 align-center"><%= f.number_field :n_nulos_plazo, class:'align-center' %></td>
      </tr>
      <tr>
        <td>Nulos por forma</td>
        <td class="fondo-transparente-F6F6F6 align-center"><%= f.number_field :n_nulos_forma, class:'align-center' %></td>
      </tr>
    </table>
  <div class="actions">
    <%= f.submit 'Actualizar datos', class: 'boton-naranjo' %>
  </div>
<% end %>