<div class="col-md-9">
<div class="listing-votacion listing">
  <h4>Lista de votaciones</h4>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th >Nombre</th>
      <th>Fecha de realización</th>
      <th>Estado</th>
      <th>% Máximo De Representación</th>
      <th colspan="1"></th>

    </tr>
    </thead>

    <tbody>
    <% @votacions.each do |votacion| %>
        <tr>
          <td><%= votacion.nombre %></td>
          <td><%= votacion.fecha_realizacion %></td>
          <td><%= votacion.estado_str %></td>
          <td><%= votacion.max_representacion %>%</td>
          <td class="td-ver">
            <%= button_to 'Ver', votacion, class: 'boton-ver', method: 'get', 'data-toggle' => 'popover', 'data-container' => 'body', 'data-html' => 'true',
                          'data-trigger' => 'focus hover', 'data-animation' => 'false' %>
            <!--<#%= button_tag 'Ver',  class: 'boton-ver', method: 'get', 'data-toggle' => 'popover',
               'data-content' => "#{render 'votacions/popover', var_votacion: votacion}", 'data-container' => 'body', 'data-html' => 'true',
              'data-trigger' => 'manual' , 'data-animation' => 'false' %>-->

            <% if current_user && current_user.es_admin_autorizado %>
                <%= button_to 'Eliminar', votacion, class: 'boton-ver eliminar', method: 'delete', 'data-toggle' => 'popover', 'data-trigger' => 'hover' %>
            <% end %>

          </td>
        </tr>

    <% end %>
    </tbody>
  </table>
</div>
</div>