<div class="modal-dialog">
  <div class="modal-content">
    <div class="normal-form" id="new-poder-form">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4>Ingreso de candidato</h4>
      <%= form_tag agregar_candidatura_persona_path(votacion_id: @votacion.id), method: :put, remote: true do %>
          <%= text_field_tag :rut, nil, class: 'normal-form-field', placeholder: 'RUT'%><br>
          <%= submit_tag "ingresar", class: 'boton-naranjo' %><br>
      <% end %>
    </div>
  </div>

</div>