<script>
  var tipo= <%= @tipo %>;
  <%@candidatos.sort_by { |f | [f.votos_recibidos_totales] }%>
    colors = ['#575756', '#878787', '#9D9D9C', '#B2B2B2', '#C6C6C6', '#DADADA', '#EDEDED', '#F6F6F6'];
    var data<%= @tipo %> = [
        {
            "index": 0,
            "label": "Blancos",
            "electo": false,
            "value":<%=
            if @tipo == 1
                @votacion.votos_blancos_totales
            elsif @tipo==2
                @votacion.votos_blancos_electronicos
            else
                @votacion.votos_blancos_manuales
            end%>
        },
        {
            "index": 1,
            "label": "Nulos",
            "electo": false,
            "value": <%=
            if @tipo == 1
                @votacion.votos_nulos_totales
            elsif @tipo==2
                @votacion.votos_nulos_electronicos
            else
                @votacion.votos_nulos_manuales
            end%>
        },
        <% @i = 2 %>
        <% @candidatos.each do |candidato| %>
        {
            "index": <%= @i %>,
            "label": "<%= candidato.nombre_resultado %>",
            "electo": <%= candidato.electo %>,
            "value": <%=
            if @tipo == 1
                candidato.votos_recibidos_totales
            elsif @tipo == 2
                candidato.votos_recibidos_electronicos
            else
                candidato.votos_recibidos_manuales
            end%>,
            "color":"white"
        <% @i+= 1 %>
        },
        <% end %>
    ];

    nv.addGraph(function () {
        var chart = nv.models.pieChart()
                        .x(function (d) {
                            return d.label
                        })
                        .y(function (d) {
                            return d.value
                        })
                        .donut(true)
                        .showLegend(false)
                        .donutRatio(0.35)
                        .labelThreshold(0.05)
                        .valueFormat(d3.format(",.0f"))
                        .color(function(d){
                            if (d.data.electo){
                                return "#FB7824";
                            }
                            return colors[d.data.index % colors.length];})
                        .growOnHover(true)
                        .tooltipContent(function(key, y, e, graph) { return '<h6 class="chart" style="background-color:'
                                + e.color+'">' + key + '</h6>' +
                                '<p>' +  y + '</p>' })

                <%# if @tipo == 1%>
                    <%=".donutLabelsOutside(true)"%>
                <%# end %>
                <% if @tipo== 2 || @tipo == 3%>
                    <%#=".showLegend(false)"%>
                    <%#=".donutLabelsOutside(false)"%>
                    <%#=".showLabels(false)"%>
                <% end %>
                ;
        d3.select("#pie-chart-<%="#{@votacion.id}-#{@tipo}"%> svg")
                .datum(data<%= @tipo %>)
                .transition().duration(1200)
                .call(chart)
                .selectAll('.nv-label text').call(wrap2, 60);

        return chart;
    });

  formatPieChart();

  function wrap2(text, width) {
      text.each(function() {
          var text = d3.select(this),
                  words = text.text().split(/\s+/).reverse(),
                  word,
                  line = [],
                  lineNumber = 0,
                  lineHeight = 1.2, // ems
                  y = text.attr("y"),
                  tspan = text.text(null).append("tspan").attr("x", 0).attr("y", y).attr("dy", "0em");
          while (word = words.pop()) {
              line.push(word);
              tspan.text(line.join(" "));
              if (tspan.node().getComputedTextLength() > width) {
                  line.pop();
                  tspan.text(line.join(" "));
                  line = [word];
                  tspan = text.append("tspan").attr("x", 0).attr("y", y).attr("dy", lineHeight + "em").text(word);
              }
          }
      });
  }
</script>