<% @estados_poderes = local_assigns[:estados_poderes] %>
<% @nombres_estados_poderes = local_assigns[:nombres_estados_poderes] %>

<script>
    var colors = ['#424242', '#575756', '#878787', '#9D9D9C', '#B2B2B2', '#C6C6C6', '#DADADA', '#EDEDED']

    nv.addGraph(function () {
        var chart = nv.models.discreteBarChart()
                        .x(function (d) {
                            return d.label
                        })
                        .y(function (d) {
                            return d.value
                        })
                        //.staggerLabels(true)
                        .tooltips(false)
                        .showValues(true)
                        .showYAxis(false)
                        .valueFormat(d3.format(",.0f"))
                        .color(colors)


                ;

        d3.select('#poderes-chart svg')
                .datum(exampleData())
                .call(chart);
        var te = d3.selectAll('#poderes-chart svg').selectAll('.tick text');
        te.call(wrap, 100);


        nv.utils.windowResize(chart.update);

        return chart;
    });

    //Each bar represents a single discrete quantity.
    function exampleData() {
        return [
            {
                key: "Poderes",
                values: [
                    {
                        "label": "<%= @nombres_estados_poderes[0] %>",
                        "value": <%= @estados_poderes[0] %>
                    },
                    {
                        "label": "<%= @nombres_estados_poderes[1] %>",
                        "value": <%= @estados_poderes[1] %>
                    },
                    {
                        "label": "<%= @nombres_estados_poderes[2] %>",
                        "value": <%= @estados_poderes[2] %>
                    },
                    {
                        "label": "<%= @nombres_estados_poderes[3] %>",
                        "value": <%= @estados_poderes[3] %>
                    },
                    {
                        "label": "blancos",
                        "value": <%= @votacion.n_blancos %>
                    },
                    {
                        "label": "nulos fuera de plazo",
                        "value": <%= @votacion.n_nulos_plazo %>
                    },
                    {
                        "label": "nulos por forma",
                        "value": <%= @votacion.n_nulos_forma %>
                    },
                ]
            }
        ]

    }
    function wrap(text, width) {
        text.each(function() {
            var text = d3.select(this),
                    words = text.text().split(/\s+/).reverse(),
                    word,
                    line = [],
                    lineNumber = 0,
                    lineHeight = 1.1, // ems
                    y = text.attr("y"),
                    dy = parseFloat(text.attr("dy")),
                    tspan = text.text(null).append("tspan").attr("x", 0).attr("y", y).attr("dy", dy + "em");
            while (word = words.pop()) {
                line.push(word);
                tspan.text(line.join(" "));
                if (tspan.node().getComputedTextLength() > width) {
                    line.pop();
                    tspan.text(line.join(" "));
                    line = [word];
                    tspan = text.append("tspan").attr("x", 0).attr("y", y).attr("dy", ++lineNumber * lineHeight + dy + "em").text(word);
                }
            }
        });
    }
</script>