<% votacion = local_assigns[:var_votacion] %>
<h5>Candidatos</h5>
<div>
  <div id="chart">
    <svg></svg>
  </div>
  <script>
      var h = 400;
      var r = h / 2;
      var arc = d3.svg.arc().outerRadius(r);

      var data = [
          {"label": "Colorectale levermetastase (n=336)", "value": 74},
          {"label": "Levensmetatase van andere origine (n=32)", "value": 7},
          {"label": "Beningne levertumor (n=34)", "value": 7},
          {"label": "Primaire maligne levertumor (n=56)", "value": 12}
      ];

      var colors = ['#575756', '#878787', '#9D9D9C', '#B2B2B2', '#C6C6C6', '#DADADA', '#EDEDED', '#F6F6F6']
      nv.addGraph(function () {
          var chart = nv.models.pieChart()
                          .x(function (d) {
                              return d.label
                          })
                          .y(function (d) {
                              return d.value
                          })
                          .color(colors)
                          .showLabels(true)
                          .showLegend(false)
                          .valueFormat(d3.format(",.0f"))
                          .labelType("percent")
                          .donut(true).donutRatio(0)
          //.tooltip.enabled(false)
                  ;

          d3.select("#chart svg")
                  .datum(data)
                  .transition().duration(1200)
                  .call(chart);

          return chart;
      });

  </script>

</div>
<h5>Socios y representantes</h5>
<h5>Poderes</h5>