<div class="row titulo-seccion">
  <h3 class="menu-title">
    <span class="thin-underline"><%= @votacion.nombre %></span>
    <small><%= @votacion.fecha_realizacion %></small>
  </h3>
  <h4>Editar votación</h4>
</div>
<div class="row">

</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="listing">
    <% if @votacion.estado == 0 %>
        <%= form_for(@votacion) do |f| %>
            <div class="edit-votacion">
              <table class="table table-bordered">
                <tr>
                  <td>Porcentaje máximo de representación</td>
                  <td class="fondo-transparente-F6F6F6 align-center">
                    <%= f.number_field :max_representacion, class: 'align-center' %>
                  </td>
                </tr>
                <tr>
                  <td>Tiempo máximo votación (minutos)</td>
                  <td class="fondo-transparente-F6F6F6 align-center">
                    <%= f.number_field :max_minutos_voto, class: 'align-center' %>
                  </td>
                </tr>
                <tr>
                  <td>Máximo número de cabinas de votación</td>
                  <td class="fondo-transparente-F6F6F6 align-center">
                    <%= f.number_field :n_cabinas, class: 'align-center' %>
                  </td>
                </tr>
                <tr>
                  <td>Número de electos</td>
                  <td class="fondo-transparente-F6F6F6 align-center">
                    <%= f.number_field :n_ganadores, class: 'align-center' %>
                  </td>
                </tr>
                <tr>
                  <td>Fecha de realización</td>
                  <td class="fondo-transparente-F6F6F6 align-center">
                    <%= f.date_select :fecha_realizacion, class: 'align-center' %>
                  </td>
                </tr>
              </table>
            </div>
            <div class="actions">
              <%= f.submit 'Actualizar datos', class: 'boton-naranjo center' %>
            </div>
        <% end %>
          </div>
    <% else %>
        <p>No puede realizar modificaciones a esta votación ya que su estado es
          <% @votacion.estado %></p>
    <% end %>
  </div>
</div>