<div class="votaciones">
  <div class="row titulo-seccion"><h3><span class="thin-underline">Votaciones</span></h3></div>
  <div class="row seccion">
    <% if @votacions.empty? %>
        <div class="col-md-9">
          <div class="row lista-vacia">
            <h2>No hay votaciones en curso.</h2>
          </div>
        </div>
    <% else %>
        <%= render 'listing' %>
    <% end %>
    <div class="col-md-2">
      <%= link_to new_votacion_path, class: 'btn btn-default boton-gris', id: 'nueva_votacion', remote: true, 'data-backdrop' => true, 'data-toggle' => 'modal', 'data-target' => '#modal-new-votacion' do %>
          <strong><span class="mas">+</span></strong> Nueva <span class="weigth-500">votacion</span>
      <% end %>
    </div>
  </div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal-new-votacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>
