<div class="row titulo-seccion">
  <h3 class="menu-title">
    <span class="thin-underline"><%= @votacion.nombre %></span>
    <small><%= @votacion.fecha_realizacion %></small>
  </h3>
</div>
<div class="row">
  <div class="col-md-12"><h4>Ingreso manual de votos</h4>
    <div class="row">
      <div class="col-md-8 col-md-offset-1">
        <div class="listing">
        <%= form_tag aceptar_votos_manuales_votacion_path(votacion_id: @votacion.id), method: :put do %>
            <%= hidden_field_tag :votacion_id, @votacion.id %>
            <table class="table table-bordered not-fixed">
              <thead>
              <tr>
                <th>Rut</th>
                <th style="width: 35%">Nombre</th>
                <th>Empresa</th>
                <th colspan="1"></th>
              </tr>
              </thead>


              <% @candidatos.each do |candidato| %>
                  <tr>
                    <td><%= candidato.rut_string %></td>
                    <td><%= candidato.nombre %></td>
                    <td><%= candidato.empresa %></td>
                    <td class="fondo-transparente-F6F6F6 align-center"><%= number_field_tag "#{candidato.id}", candidato.votos_recibidos_manuales, class: 'vote_field align-center' %></td>
                  </tr>
              <% end %>
              <tbody>
              <tr>
                <td colspan="3">Blancos</td>
                <td class="fondo-transparente-F6F6F6"><%= number_field_tag :blancos, @blancos ,class: 'vote_field align-center'%></td>
              </tr>
              <tr>
                <td colspan="3">Nulos</td>
                <td class="fondo-transparente-F6F6F6"><%= number_field_tag :nulos, @nulos,class: 'vote_field align-center' %></td>
              </tr>
              </tbody>
            </table>


              <table class="table align-center table-no-borders">

                <tbody>

                <tr>
                  <td class="fondo-transparente"><strong>VOTOS HABILITADOS MAUALMENTE</strong></td>
                  <td colspan="2" class="fondo-transparente"></td>
                  <td class="fondo-transparente align-center"><strong><span id="disponibles"><%= @n_votos_disponibles %></span></strong></td>
                </tr>
                <tr>
                  <td class="fondo-transparente"><strong>VOTOS INGRESADOS MANUALMENTE</strong></td>
                  <td class="fondo-transparente" colspan="2"></td>
                  <td class="fondo-transparente align-center"><strong><span id="suma">0</span></strong></td>
                </tr>
                </tbody>
              </table>

            <div class="actions">
              <%= submit_tag 'Ingresar votos', id: 'vote_button', class: 'boton-naranjo' %>
            </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>




</div>
</div>
