<h1>Manuales</h1>
<table>
  <thead>
  <tr>
    <th>Rut</th>
    <th>Nombre</th>
    <th>Empresa</th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>

  <% @candidatos.each do |candidato| %>
      <tr>
        <td><%= candidato.rut_string %></td>
        <td><%= candidato.nombre %></td>
        <td><%= candidato.empresa %></td>
        <td><%= candidato.votos_recibidos_manuales %></td>
      </tr>
  <% end %>

  <tr>
    <td>Blancos</td>
    <td colspan="2"></td>
    <td><%= @votacion.votos_blancos_manuales %></td>
  </tr>
  <tr>
    <td>Nulos</td>
    <td colspan="2"></td>
    <td><%= @votacion.votos_nulos_manuales %></td>
  </tr>

  </tbody>
</table>

<h1>Electrónicos</h1>

<table>
  <thead>
  <tr>
    <th>Rut</th>
    <th>Nombre</th>
    <th>Empresa</th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>

  <% @candidatos.each do |candidato| %>
      <tr>
        <td><%= candidato.rut_string %></td>
        <td><%= candidato.nombre %></td>
        <td><%= candidato.empresa %></td>
        <td><%= candidato.votos_recibidos_electronicos %></td>
      </tr>
  <% end %>

  <tr>
    <td>Blancos</td>
    <td colspan="2"></td>
    <td><%= @votacion.votos_blancos_y_fuera_de_tiempo_electronicos %></td>
  </tr>
  <tr>
    <td>Nulos</td>
    <td colspan="2"></td>
    <td><%= @votacion.votos_nulos_electronicos %></td>
  </tr>

  </tbody>
</table>

<h1>Totales</h1>

<table>
  <thead>
  <tr>
    <th>Rut</th>
    <th>Nombre</th>
    <th>Empresa</th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>

  <% @candidatos.each do |candidato| %>
      <tr>
        <td><%= candidato.rut_string %></td>
        <td><%= candidato.nombre %></td>
        <td><%= candidato.empresa %></td>
        <td><%= candidato.votos_recibidos_totales %></td>
      </tr>
  <% end %>

  <tr>
    <td>Blancos</td>
    <td colspan="2"></td>
    <td><%= @votacion.votos_blancos_totales %></td>
  </tr>
  <tr>
    <td>Nulos</td>
    <td colspan="2"></td>
    <td><%= @votacion.votos_nulos_totales %></td>
  </tr>

  </tbody>
</table>

<h1>Detalles</h1>
Número de votos electrónicos según votantes <%= @votacion.total_votos_electronicos_segun_votantes %><br>
Número de votos electrónicos según resultados <%= @votacion.total_votos_electronicos_segun_resultados %><br>
<br>
Número de votos manuales según votantes <%= @votacion.total_votos_manuales_segun_votantes %><br>
Número de votos manuales según resultados <%= @votacion.total_votos_manuales_segun_resultados %><br>
<br>
Número total de votos según votantes <%= @votacion.total_votos_segun_votantes %><br>
Número total de votos según resultados <%= @votacion.total_votos_segun_resultados %><br>
<br>
