<div class="init" hidden><%= @init if @init %></div>
<div class="row titulo-seccion">
  <h3 class="menu-title">
    <span class="thin-underline"><%= @votacion.nombre %></span>
    <small><%= @votacion.fecha_realizacion %></small>
  </h3>
  <div class="no-decor">
    <% if @votacion.estado == 0 && current_user && current_user.es_admin_autorizado %>
    &nbsp; <%= link_to '<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>'.html_safe,
                       edit_votacion_path(@votacion),
                       "data-toggle" => "tooltip", "data-placement" => "top",
                       "title" => "Editar parámetros","data-container" => "body"%>
  <% end %>

    <% if current_user && current_user.es_admin_autorizado %>
    &nbsp;&nbsp;&nbsp;
    <%= link_to "<span class='glyphicon glyphicon-chevron-left'></span>retroceder".html_safe,
                retroceder_estado_votacion_path(@votacion), method: "post",
                'data-toggle' => 'tooltip', 'data-placement' => 'top', class: 'cambio-estado','data-container' => 'body',
                'title' => "Retroceder a estado #{@ant}" if @ant%>
    &nbsp;&nbsp;&nbsp;
    <%= link_to "avanzar<span class='glyphicon glyphicon-chevron-right'></span>".html_safe, avanzar_estado_votacion_path(@votacion), method: "post", 'data-toggle' => 'tooltip', 'data-placement' => 'top', class: 'cambio-estado','data-container' => 'body', 'title' => "Avanzar a estado #{@sig}" if @sig %>
    <% end %>
  </div>
</div>
<% if current_user%>
<div class="row">
  <div class="col-md-2">
    <%= image_tag "porcentaje.svg", class: "dashboard", type: 'image/svg+xml',
                  "data-toggle" => "tooltip", "data-placement" => "top",
                  "title" => "Porcentaje máximo votos por representante" ,"data-container" => "body" %>
    Máximo <%= @votacion.max_representacion %>%
  </div>
  <div class="col-md-2">
    <%= image_tag "estado.svg", class: "estado", type: 'image/svg+xml',
                  "data-toggle" => "tooltip", "data-placement" => "top",
                  "title" => "Estado" ,"data-container" => "body"%>
    <%= @votacion.estado_str %>
  </div>
  <div class="col-md-2">
    <%= image_tag "tiempo.svg", class: "dashboard", type: 'image/svg+xml',
                  "data-toggle" => "tooltip", "data-placement" => "top",
                  "title" => "Tiempo máximo de votación (en minutos) desde que es habilitado por vocal de mesa","data-container" => "body" %>
    <%= @votacion.max_minutos_voto %> minutos
  </div>
  <div class="col-md-3">
    <%= image_tag "cabina.svg", class: "dashboard", type: 'image/svg+xml',
                  "data-toggle" => "tooltip", "data-placement" => "top",
                  "title" => "Número máximo de cabinas de votación" ,"data-container" => "body"%>
    Máximo <%= @votacion.n_cabinas %> cabinas
  </div>
  <div class="col-md-3">
    <%= image_tag "candidatos.svg", class: "dashboard", type: 'image/svg+xml',
                  "data-toggle" => "tooltip", "data-placement" => "top",
                  "title" => "Cantidad de electos ","data-container" => "body" %>
    <%= @votacion.n_ganadores%> vacantes
  </div>
  <% if @votacion.estado == 0 %>
  <div class="col-md-1">
  </div>
  <% end %>
</div>
<% end %>

<% if current_user && current_user.es_admin_autorizado %>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <h4 class="menu-title">Poderes</h4>
        <div class="no-decor">
          <% if @votacion.estado == 0 %>
              <%= link_to '<span class="glyphicon glyphicon-plus" data-container="body" data-toggle="tooltip" data-placement="top" title="Agregar poderes"></span>'.html_safe, new_poder_path(params: {votacion_id: @votacion.id}), remote: true, 'data-backdrop' => true, 'data-toggle' => 'modal', 'data-target' => '#modal-new-poder', id:'agregar-poder'%>
              <%= link_to '<span class="glyphicon glyphicon-pencil" data-container="body" data-toggle="tooltip" data-placement="top" title="Editar poderes"></span>'.html_safe, edit_poderes_extra_votacion_path, remote: true, 'data-backdrop' => true, 'data-toggle' => 'modal', 'data-target' => '#modal-edit-poderes-extra', id:'edit-poder' %>
          <%end%>
          <%=link_to '<span class="glyphicon glyphicon-eye-open" data-container="body" data-toggle="tooltip" data-placement="top" title="Ver poderes"</span>'.html_safe,poders_path(votacion_id: @votacion.id) %>
        </div>
      </div>
    </div>
    <div class="row">
      <%= render 'votacions/poderes_bar_chart', estados_poderes: @estados_poderes, nombres_estados_poderes: @nombres_estados_poderes %>
      <div id="poderes-chart">
        <svg></svg>
      </div>
    </div>
  </div>
</div>
<% end %>

<% if current_user && current_user.es_admin_autorizado %>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <h4 class="menu-title">Socios y Representantes</h4>

        <div class="no-decor">
          <% if @votacion.estado == 0 && current_user && current_user.es_admin_autorizado%>
              <%= link_to '<span class="glyphicon glyphicon-plus" data-container="body"  container="body" data-toggle="tooltip" data-placement="top" title="Agregar socios"></span>'.html_safe, ingreso_masivo_votacion_path, remote: true, 'data-backdrop' => true, 'data-toggle' => 'modal', 'data-target' => '#modal-ingreso-masivo'%>
          <% end %>
          <%= link_to '<span class="glyphicon glyphicon-eye-open"  data-container="body" data-toggle="tooltip" data-placement="top" title="Ver socios y representantes"></span>'.html_safe, personas_path(:votacion_id => @votacion.id) %>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class=" label-dashboard">
          <span class="label label-default"><%= @votacion.pueden_ser_candidatos.length %> Posibles candidatos</span>
          <% if @votacion.estado > 0 %>
              <span class="label label-default"><%= @votacion.asistentes.size %> Asistentes</span>
              <span class="label label-default"><%= @votacion.poders.n_validos %> Representados</span>
          <% end %>
          <% if @votacion.estado > 1 %>
              <span class="label label-default">máx. <%= @votacion.total_maxima_representacion %>
                votos por persona (+ 1 voto personal)</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% if current_user && current_user.es_admin_autorizado %>
<div class="row">
  <div class="col-md-12">
    <h4 class="menu-title">Cabinas</h4>
    <div class="row">
      <% @votacion.cabinas.each do |cabina| %>
          <div class="col-md-2">
            <div class="remove-cabina">
            <%= link_to '<span class="glyphicon glyphicon-remove"  data-toggle="tooltip" data-placement="top" title="Eliminar esta cabina" data-container="body"></span>'.html_safe,
                        cabina, method: :delete, data: {confirm: '¿Está seguro/a que quiere eliminar esta cabina?'}, class: "remove" %></div>
              <%= image_tag "computador.svg", class: "servidor"%>
              <div class="caption caption-cabina">
                <h5>Cabina <%= cabina.number %></h5>
                <p><%= cabina.ip %></p>
              </div>
          </div>
      <% end %>
      <div class="col-md-2">
        <% if !@n_cabinas_disponibles.empty? %>
          <div class="add-cabina">
            <%= link_to "<span class='glyphicon glyphicon-plus'></span>".html_safe, new_cabina_path(votacion_id: @votacion.id),
                        'data-toggle' => "tooltip", "data-placement" => "top", "title" => 'Convertir este computador en cabina',  "data-container" => "body"  %>
          </div>
        <% end %>
      </div>
      </div>
  </div>
</div>
<% end %>


<% if @votacion.estado >= 1 && current_user && current_user.es_control_asistencia_autorizado%>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <h4 class="menu-title">Asistencia</h4>

            <div class="no-decor">
              <% if @votacion.estado == 1%>
              <%= link_to '<span class="glyphicon glyphicon-plus"  data-toggle="tooltip" data-placement="top" title="Agregar asistentes" data-container="body" ></span>'.html_safe, show_asistentes_votacion_path(@votacion, agregar: true) %>
              <%end%>
              <%= link_to '<span class="glyphicon glyphicon-eye-open"  data-toggle="tooltip" data-placement="top" title="Ver asistentes" data-container="body" ></span>'.html_safe,  show_asistentes_votacion_path(@votacion)%>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="labels">
              <span class="label label-default"><%= @votacion.asistentes.length %> Asistentes</span>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>

<% if @votacion.estado >= 2%>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <h4 class="menu-title">Candidatos</h4>
            <div class="no-decor">
              <% if @votacion.estado == 2 && current_user && current_user.es_tricel_autorizado%>

              <%= link_to '<span class="glyphicon glyphicon-plus"  data-toggle="tooltip" data-placement="top" title="Agregar candidatos" data-container="body" ></span>'.html_safe, agregar_candidato_votacion_path(votacion_id: @votacion.id),method: :get, remote: true, 'data-backdrop' => true, 'data-toggle' => 'modal', 'data-target' => '#modal-agregar-candidato' %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="row">
          <% if @votacion.estado >= 2 %>
              <div class="col-md-12">
                <ul class="candidatos">
                  <% @candidatos.each do |c| %>
                      <li>
                        <%= "#{c.nombre}" %>
                        <%= link_to '<span class="glyphicon glyphicon-remove"   data-container="body" data-toggle="tooltip" data-placement="top" title="Eliminar"></span>'.html_safe, eliminar_candidatura_persona_path(c), method: :put if @votacion.estado == 2 && current_user && current_user.es_tricel_autorizado%>
                      </li>
                  <% end %>
                </ul>
              </div>
          <%end%>
        </div>
      </div>
    </div>
<% end %>

<% if @votacion.estado == 3 && current_user && current_user.es_vocal_autorizado %>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <h4 class="menu-title">Vocal de mesa</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-md-offset-2">
            <h5 class="align-center">Votación electrónica</h5>
            <%= link_to "<img type='image/svg+xml' src=\"#{ asset_path 'computador.svg' }\" class='vocal' data-container='body' data-toggle='tooltip' data-placement='left' title='Asignar computadores de votación'></object>".html_safe, vista_vocal_de_mesa_votacion_path %>
          </div>
          <div class="col-md-3 col-md-offset-2">
            <h5 class="align-center">Votación manual</h5>
            <%= link_to "<img type='image/svg+xml' src=\"#{ asset_path 'cabina.svg' }\" class='vocal' data-container='body' data-toggle='tooltip' data-placement='left' title='Llamar a votación en papel'></object>".html_safe, vista_vocal_de_mesa_manual_votacion_path %>
            <br>
          </div>
        </div>
      </div>
    </div>
<% end %>

<% if @votacion.estado == 4 and current_user and current_user.es_tricel_autorizado %>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <h4 class="menu-title">Ingresar Votos Manuales</h4>

            <div class="no-decor">
              <%= link_to '<span class="glyphicon glyphicon-pencil" data-container="body"  data-toggle="tooltip" data-placement="top" title="Ingrese o modifique los votos manuales"></span>'.html_safe, ingreso_votos_manuales_votacion_path(@votacion) %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="listing-votacion listing">
              <h4>Lista de votos manuales</h4>
            <table class="table table-bordered">
              <thead>
              <tr>
                <th>Rut</th>
                <th>Nombre</th>
                <th>Empresa</th>
                <th colspan="1"></th>
              </tr>
              </thead>

              <tbody>
              <% total_manual_c = 0 %>
              <% @candidatos.each do |candidato| %>
                  <tr>
                    <td><%= candidato.rut_string %></td>
                    <td><%= candidato.nombre %></td>
                    <td><%= candidato.empresa %></td>
                    <td><%= candidato.votos_recibidos_manuales %></td>
                  </tr>
              <% total_manual_c = total_manual_c + candidato.votos_recibidos_manuales %>
                <% end %>
              <tr>
                <td  colspan="3">Blancos</td>
                <td><%= @votacion.votos_blancos_manuales %></td>
              </tr>
              <tr>
                <td colspan="3">Nulos</td>
                <td><%= @votacion.votos_nulos_manuales %></td>
              </tr>
              <tr>
                <td colspan="3">Total</td>
                <td><%= @votacion.votos_blancos_manuales + @votacion.votos_nulos_manuales + total_manual_c %></td>
              </tr>

              </tbody>
            </table>
            </div>

          </div>
        </div>
      </div>
    </div>
<% end %>


<% if @votacion.estado == 5 && current_user && current_user.es_admin_autorizado%>

    <div class="row">
      <div class="col-md-12">
        <h4>Resultados</h4>

        <div class="row">
          <div class="col-md-12">
            <div class="total" id="pie-chart-<%= "#{@votacion.id}-1" %>">
              <svg></svg>
            </div>
            <%#= render "votacions/pie_chart", :@tipo => 1 %>
            <%= render "votacions/bar_chart", :@tipo => 1 %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h5>Votos Eléctrónicos</h5>

            <div id="pie-chart-<%= "#{@votacion.id}-2" %>">
              <svg></svg>
            </div>
            <%= render "votacions/bar_chart", :@tipo => 2 %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h5>Votos Manuales</h5>

            <div id="pie-chart-<%= "#{@votacion.id}-3" %>">
              <svg></svg>
            </div>
            <%= render "votacions/bar_chart", :@tipo => 3 %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-md-offset-3 cuadratura">
            <div class="listing-votacion listing">
              <h5>Cuadratura</h5>
              <table class="table table-bordered">
              <thead>
              <tr>
                <th>Según...</th>
                <th>Eléctronico</th>
                <th>Manual</th>
                <th>Total</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th>Votantes</th>
                <td><%= @votacion.total_votos_electronicos_segun_votantes %></td>
                <td><%= @votacion.total_votos_manuales_segun_votantes %></td>
                <td><%= @votacion.total_votos_segun_votantes %></td>
              </tr>
              <tr>
                <th>Resultados</th>
                <td><%= @votacion.total_votos_electronicos_segun_resultados %></td>
                <td><%= @votacion.total_votos_manuales_segun_resultados %></td>
                <td><%= @votacion.total_votos_segun_resultados %></td>
              </tr>
              </tbody>
            </table>

          </div>
            </div>
        </div>
      </div>
    </div>

    <%if @votacion.votos_fuera_de_tiempo != 0 and  @votacion.total_votos_electronicos_segun_votantes != @votacion.total_votos_electronicos_segun_resultados %>
       <div class="row">

         <div class="col-md-6 col-md-offset-3">
        <p>Existe un error en la cuadratura, debido a socios que fueron habilitados por el vocal de mesa, pero no ejecutaron su votación. Los votos de estos socios no figuran contabilizados en la fila de votantes, pero se han agregado como votos blancos en los resultados.</p>
           <p>Los socios indicados son los siguientes:</p>
        <% @personas = @votacion.votantes_fuera_de_tiempo %>

         <div class="listing">

          <table class="table table-bordered not-fixed">
            <thead>
            <tr>
              <th>N°</th>
              <th>Rut</th>
              <th style="width: 35%">Nombre</th>
              <th>Empresa</th>
              <th>Fecha ingreso</th>
              <th>Nro votos disponibles</th>
            </tr>
            </thead>
            <tbody>
            <% @i = 1 %>
            <% @personas.each do |persona| %>
                <tr>
                  <td><%= @i %></td>
                  <td><%= persona.rut_string %></td>
                  <td ><%= persona.nombre %></td>
                  <td><%= persona.empresa %></td>
                  <td><%= persona.fecha_ingreso %></td>
                  <td><%= persona.votos_totales_disponibles %></td>
                </tr>
                <% @i += 1 %>
            <% end %>
            </tbody>
          </table>
        </div>
    <% end %>
    </div>
    </div>
<% end %>



<div class="modal modal-centrado fade" id="modal-new-poder" tabindex="-1" role="dialog"></div>

<!-- Modal -->
<!--<div class="modal fade" id="modal-edit-poderes-extra" tabindex="-1" role="dialog">-->
<!--</div>-->

<!-- Modal -->
<div class="modal modal-centrado fade" id="modal-edit-poderes-extra" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>


<!-- Modal -->
<div class="modal modal-centrado fade" id="modal-ingreso-masivo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>


<div class="modal modal-centrado fade" id="modal-agregar-candidato" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
