<% modo = local_assigns[:modo] %>
<div class="row titulo-seccion">
  <h3 class="menu-title">
    <span class="thin-underline"><%= @votacion.nombre %></span>
    <small><%= @votacion.fecha_realizacion %></small>
  </h3>
  <h4>Asistentes</h4>
</div>

<% if @votacion.estado == 1 && @agregar%>
<div class="row">
  <div class="col-md-4 col-md-offset-2">
    <strong>Agregar asistente</strong><br>
    <%= form_tag agregar_asistencia_persona_path(votacion_id: @votacion.id), class: "form-inline" ,method: :put, remote: true do %>
        <div class="form-group">
          <label class="sr-only" for="rut">Rut</label>
          <%= text_field_tag :rut,nil, class: 'form-control', placeholder: 'RUT' %>
        </div>
        <%= submit_tag :Aceptar, class: 'enviar-persona boton-naranjo' %>
<% end %>
  </div>
</div>
<% end %>
<div class="row">
<%= render 'personas/list', filtro: @filtro %>
</div>