<div class="row titulo-seccion">
  <h3 class="menu-title">
    <span class="thin-underline"><%= @votacion.nombre %></span>
    <small><%= @votacion.fecha_realizacion %></small>
  </h3>
  <h4>Vocal de mesa para <strong>votación electrónica</strong></h4>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-2">
Habilitar usuario para <strong>votación electrónica</strong><br>
<%= form_tag habilitar_voto_persona_path(votacion_id: @votacion.id),class: 'form-inline', method: :put, remote: true do %>
        <div class="form-group">
          <label class="sr-only" for="rut">Rut</label>
          <%= text_field_tag :rut,nil, class: 'form-control', placeholder: 'RUT' %>
        </div>
        <%= submit_tag :Aceptar, class: 'enviar-persona boton-naranjo' %>
<% end %>

  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
<div class="listing">
  <h4>Usuarios habilitados para votar</h4>
  <table class="table table-bordered">
  <thead>
  <tr>
    <th width="5%">N°</th>
    <th width="15%">Rut</th>
    <th width="30%">Nombre</th>
    <th width="10%">Cabina de votacion</th>
    <th width="10%">Votos disponibles</th>
    <th width="10%">¿Votó?</th>
    <th width="10%">Nómina</th>
  </tr>
  </thead>

  <tbody>
  <% @i = 1 %>
  <% @sesiones.reverse_each do |sesion| %>
      <tr>
        <% persona = sesion.persona %>
        <td><%= @i %></td>
        <td><%= persona.rut_string %></td>
        <td><%= persona.nombre %></td>
        <td><%= if persona.cabina then persona.cabina.number else "Votación manual" end %></td>
        <td><%= persona.votos_totales_disponibles %></td>
        <td><%= boolean_to_s(persona.ha_votado) %></td>
        <td><%= button_to 'Generar', nomina_persona_path(persona), class: 'boton-ver', method: :get%></td>
        <% @i += 1 %>
      </tr>
  <% end %>
  </tbody>
</table>
    </div>
</div>
</div>