<h3>Consulta de estado</h3>

<div class="row login-form">
  <div class="col-md-4"></div>
  <div class="col-md-4">

    <div class="boton-wrapper">
      <div class="instruccion">Ingrese la votación y el rut que desea consultar</div>
      <%= form_tag home_ver_estado_path, method: :get, remote: true do%>
          <div class="form-group">
            <%= collection_select(:votacion, :votacion_id, Votacion.all, :id, :nombre, {},{class: 'text-field'}) %>
          </div>
          <div class="form-group">
            <%= text_field_tag :rut, nil, placeholder: 'RUT', class:'text-field'  %>
          </div>
          <%= submit_tag :ingresar, class: 'boton-naranjo' %>
          </div>
      <% end %>
      </div>
  <div class="col-md-4"></div>
</div>

<div class="row">
</div>
