<%= form_for(@asd) do |f| %>
  <% if @asd.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asd.errors.count, "error") %> prohibited this asd from being saved:</h2>

      <ul>
      <% @asd.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :a %><br>
    <%= f.text_field :a %>
  </div>
  <div class="field">
    <%= f.label :a %><br>
    <%= f.date_select :a %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
