<p id="notice"><%= notice %></p>

<h1>Listing Asds</h1>

<table>
  <thead>
    <tr>
      <th>A</th>
      <th>A</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @asds.each do |asd| %>
      <tr>
        <td><%= asd.a %></td>
        <td><%= asd.a %></td>
        <td><%= link_to 'Show', asd %></td>
        <td><%= link_to 'Edit', edit_asd_path(asd) %></td>
        <td><%= link_to 'Destroy', asd, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asd', new_asd_path %>
