<p id="notice"><%= notice %></p>

<p>
  <strong>A:</strong>
  <%= @asd.a %>
</p>

<p>
  <strong>A:</strong>
  <%= @asd.a %>
</p>

<%= link_to 'Edit', edit_asd_path(@asd) %> |
<%= link_to 'Back', asds_path %>
