<h1>PortalVotante#ingresar_voto</h1>
<p>Find me in app/views/portal_votante/ingresar_voto.html.erb</p>


Votacion <%= @votacion.nombre %><br>
Candidatos <%= @candidatos.size %><br>
Total votos: <%= @total_votos %>
