<h3>Portal de Votación Electrónica</h3>
<h4>Cabina número <%= current_cabina.number %></h4>

<div class="row login-form">
  <div class="col-md-4"></div>
  <div class="col-md-4">

    <div class="boton-wrapper">
      <div class="instruccion">Ingrese aquí su rut para votar</div>
      <%= form_tag portal_votante_ingresar_vista_voto_path(votacion_id: @votacion_id), method: :get, remote: true do%>
          <div class="form-group">
            <%= text_field_tag :rut, nil, placeholder: 'RUT', class:'text-field'  %>
          </div>
          <%= submit_tag :ingresar, class: 'boton-naranjo' %>
          </div>
      <% end %>
      </div>
  <div class="col-md-4"></div>
</div>

<div class="row">
</div>
