<h3>Portal de Votación Electrónica</h3>
<h4>Cabina número <%= current_cabina.number %></h4>
<div class="row">
  <div class="col-md-4"><strong><%= @persona.nombre %></strong> (<%= @persona.rut_string %>)</div>
  <div class="col-md-4 col-md-offset-3"><strong><%= @persona.voto_propio_disponible %> </strong> voto propio y <strong><%= @persona.votos_extra_disponibles %></strong> votos por poderes recibidos</div>
</div>


<%= form_tag portal_votante_ingresar_voto_path(votacion_id: @votacion.id, persona_id: @persona.id), method: :put, remote: true do%>
<div class="row">
        <%= hidden_field_tag :votacion_id, @votacion.id %>
        <%= hidden_field_tag :@votos_disponibles, @n_votos_disponibles %>
      <div class="col-md-2"></div>
      <div class="col-md-8 listing vista-voto-listing">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th width="12%">Rut</th>
            <th>Nombre</th>
            <th width="25%">Empresa</th>
            <th width="20%"></th>
          </tr>
          </thead>
          <tbody>
          <% @candidatos.each do |candidato| %>
              <tr>
                <td><%= candidato.rut_string %></td>
                <td><%= candidato.nombre %></td>
                <td><%= candidato.empresa %></td>
                <td class="fondo-transparente"><%= number_field_tag "#{candidato.id}", 0, class: 'vote_field' %></td>
              </tr>
          <% end %>
          <tr>
            <td colspan="2" class="fondo-transparente"></td>
            <td><strong>Blancos</strong></td>
            <td class="fondo-transparente"><%= number_field_tag :blancos, 0, id: 'blancos', class: 'vote_field' %></td>
          </tr>
          <tr>
            <td colspan="2" class="fondo-transparente"></td>
            <td><strong>Nulos</strong></td>
            <td class="fondo-transparente"><%= number_field_tag :nulos, 0, class: 'vote_field' %></td>
          </tr>
          </tbody>
        </table>
      </div>




</div>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <table class="table align-center table-no-borders">

          <tbody>

          <tr>
            <td class="fondo-transparente"><strong>VOTOS DISPONIBLES</strong></td>
            <td colspan="2" class="fondo-transparente"></td>
            <td class="fondo-transparente"><strong><span id="disponibles"><%= @n_votos_disponibles %></span></strong></td>
          </tr>
          <tr>
            <td class="fondo-transparente"><strong>VOTOS USADOS</strong></td>
            <td class="fondo-transparente" colspan="2"></td>
            <td class="fondo-transparente"><strong><span id="suma">0</span></strong></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>



    <div class="row">
    <div class="col-md-2"></div>
      <div class="col-md-8 votar-col">
        <%= submit_tag :Votar, class: "boton-naranjo" %>
      </div>
    </div>
<% end %>
