<h4>Convertir este computador en cabina de votación</h4>

<%= form_for(@cabina) do |f| %>
  <% if @cabina.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cabina.errors.count, "error") %> prohibited this cabina from being saved:</h2>

      <ul>
      <% @cabina.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :votacion_id, value: params[:votacion_id] %>

  <div class="field">
    <span class="etiqueta">Número </span>
    <% arreglo_numeros = @numeros.map { |numero| [numero.to_s, numero] } %>
    <%= f.select(:number, arreglo_numeros) %>
  </div>
  <div class="actions">
    <%= f.submit "Aceptar", class: 'boton-naranjo' %>
  </div>
<% end %>
