<p id="notice"><%= notice %></p>

<h1>Listing Cabinas</h1>

<table>
  <thead>
    <tr>
      <th>Votacion</th>
      <th>Number</th>
      <th>Ip</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @cabinas.each do |cabina| %>
      <tr>
        <td><%= cabina.votacion.nombre %></td>
        <td><%= cabina.number %></td>
        <td><%= cabina.ip %></td>
        <td><%= link_to 'Show', cabina %></td>
        <td><%= link_to 'Eliminar', cabina, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Convertir este computador en cabina de votación', new_cabina_path(votacion_id: @votacion_id) %>
