<p id="notice"><%= notice %></p>

<p>
  <strong>Votacion:</strong>
  <%= @cabina.votacion.nombre %>
</p>

<p>
  <strong>Number:</strong>
  <%= @cabina.number %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @cabina.ip %>
</p>

<%= link_to 'Back', cabinas_path %>
