
<div class="col-md-10 col-md-offset-1">
  <div class="listing">

  <% if !@asistentes %>
      <form>
        <input type="radio" id="ver_todos" name="filtro" value="todos" <%= 'checked' if !@filtro %>> Ver todos &nbsp;&nbsp;
        <input type="radio" id="ver_asistentes" name="filtro" value="asistentes" <%= 'checked' if @filtro == 'asistentes'%>> Ver solo asistentes &nbsp;&nbsp;
        <input type="radio" id="ver_no_han_votado" name="filtro" value="no-han-votado"<%= 'checked' if @filtro == 'no_han_votado'%>> Ver solo asistentes que no han votado
      </form>
  <% end %>
  <br>
    <% if !@asistentes %>
        <%= form_tag(personas_path(votacion_id: @votacion.id, filtro: @filtro), method: "get") do %>
            <%= hidden_field_tag 'votacion_id', @votacion.id %>
            <%= hidden_field_tag 'filtro', @filtro %>
            <%= text_field_tag(:rut, nil, placeholder: "Buscar por RUT")%><%= submit_tag 'Buscar', class: 'boton-naranjo' %><br>
        <% end %>
    <% end %>
  <%= paginate @personas %>
<table class="table table-bordered not-fixed">
  <thead>
  <tr>
    <th>N°</th>
    <th width="12%">Rut</th>
    <th width="30%">Nombre</th>
    <th width="20%">Empresa</th>
    <th width="15%">Fecha ingreso</th>

    <th %>Puede ser representante</th>
    <th colspan="1" width="20%"></th>
  </tr>
  </thead>
      <tbody>
      <% @i = 1 %>
      <% @personas.each do |persona| %>
          <tr>
            <td><%= @per*(-1+ @personas.current_page) + @i %></td>
            <td ><%= persona.rut_string %></td>
            <td ><%= persona.nombre %></td>
            <td ><%= persona.empresa %></td>
            <td><%= persona.fecha_ingreso %></td>
            <td><%= boolean_to_s(persona.puede_ser_representante) %></td>
            <td class="td-ver">
              <% if @asistentes && current_user.es_control_asistencia_autorizado && @votacion.estado == 1 %>
                  <%= button_to 'Eliminar asistente', eliminar_asistencia_persona_path(persona_id: persona.id, agregar: @agregar), method: :put, data: {confirm: '¿Seguro/a que desea eliminar este asistente?'},class: 'boton-ver ', 'data-toggle' => 'popover', 'data-trigger' => 'hover' %>
              <% elsif current_user && current_user.es_admin_autorizado %>
                  <%= button_to 'Ver', persona, class: 'boton-ver', method: 'get' %>
                  <% if current_user && current_user.es_admin_autorizado %>
                      <%#= button_to 'Editar', edit_persona_path(persona), class: 'boton-ver ', method: 'put', 'data-toggle' => 'popover', 'data-trigger' => 'hover' %>
                      <%= button_to 'Eliminar', persona, class: 'boton-ver', method: :delete, data: {confirm: '¿Seguro/a que desea eliminar este registro?'}, 'data-toggle' => 'popover', 'data-trigger' => 'hover' %>
                  <% end %>
              <% end %>
            </td>
          </tr>
          <% @i += 1 %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>