<div class="mensaje" hidden><%= @mensaje if @mensaje%></div>
<div class="init" hidden></div>
<div class="row titulo-seccion">
  <h3 class="menu-title">
    <span class="thin-underline"><%= @votacion.nombre %></span>
    <small><%= @votacion.fecha_realizacion %></small>
  </h3>
  <h4>Socios y representantes </h4>
</div>


<div class="row">


  <%= render 'list' %>
</div>