<!DOCTYPE html>
<html>
<head>
  <title>SistemaVotacion</title>
  <%# stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%# javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag "application", params[:controller], :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="nomina">
<div class="container">
  <div class="row header">
    <div class="col-md-4 col-xs-3">
      <a href="#" onclick="window.print();return false;">Imprimir</a>
      <br><br>
      <%= image_tag 'logo-nomina.png', class: "logo" %>
    </div>
    <div class="col-md-3 col-xs-3">
      <br><br>

      <h1 class="center"><%= @persona.votacion.nombre %></h1>
    </div>
    <div class="col-md-3 col-md-offset-1 col-xs-3 col-xs-offset-3">
      <br><br>

      <p>Santiago, <%= l Date.today, format: "%d de %B de %Y" %></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <br>

    <h2 class="center">REPRESENTADOS</h2>
    <table class="table table-striped">
      <thead>
      <th width="10%">N°</th>
      <th width="30%">Rut</th>
      <th width="60%">Nombres</th>
      </thead>
      <tbody>
      <% @i = 1 %>
      <% @poderes.sort_by { |p| p.poderante.rut_int }.each do |poder| %>
          <tr>
            <td><%= @i %></td>
            <td><%= poder.poderante.rut_string %></td>
            <td><%= poder.poderante.nombre %></td>
          </tr>
          <% @i += 1 %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <strong>REPRESENTANTE</strong><br>
    <strong>RUT: </strong><%= @persona.rut_string %><br>
    <strong>NOMBRE: </strong><%= @persona.nombre %><br><br>
    <strong>Cantidad de socios representados: </strong><%= @i-1 %><br>
    <strong>Cantidad de votos (incluyendo propio): </strong><%= @persona.votos_totales_disponibles%><br>
  </div>
</div>
<div class="row">
  <div class="col-md-3 col-md-offset-3 align-center">
    <br>

    <p>Firma:</p>
    <br>_________________________<br>


  </div>
</div>
</div>
</body>
</html>