<div class="row titulo-seccion">
  <h3 class="menu-title">
    <span class="thin-underline"><%=@persona.votacion.nombre%></span>
    <small><%= @persona.votacion.fecha_realizacion %></small>
  </h3>

  <div class="no-decor">
        &nbsp; <%= link_to '<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>'.html_safe,
                           @persona.votacion ,
                           "data-toggle" => "tooltip", "data-placement" => "top",
                           "title" => "Ver la votación", "data-container" => "body"%>
    <% if !current_user %>
        <div class="salir"><%= link_to "<span class=\"exit\">&times;</span> SALIR".html_safe, '/invitado'%></div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="label-dashboard">
      <span class="label label-default label-warning"><%= @persona.estado_voto_str %></span>
      <span class="label label-default">
        <% if @persona.es_socio %>
             <%= "Es socio" %>
          <%else%>
            <%="No es socio" %>
          <%end%>
      </span>
      <span class="label label-default">
          <% if @persona.puede_ser_candidato %>
             <%= "Sí puede ser candidato" %>
          <%else%>
            <%="No puede ser candidato" %>
          <%end%>
      </span>

    </div>
  </div>
</div>



<div class="row">
  <div class="col-md-4 col-md-offset-1">
    <div class="listing">
      <h4>Datos Socio</h4>
      <table class="table table-bordered">
        <tbody>
        <tr>
          <th>Rut</th>
          <td><%=  @persona.rut_string %></td>
        </tr>
        <tr>
          <th>Nombre</th>
          <td><%= @persona.nombre %></td>
        </tr>
        <tr>
          <th>Empresa</th>
          <td><%= @persona.empresa %></td>
        </tr>

        <tr>
          <th>Fecha ingreso:</th>
          <td> <%= @persona.fecha_ingreso %></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% if current_user && current_user.es_vocal_autorizado %>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12"> <h4>Nómina de representante</h4></div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= button_to 'Generar nómina', nomina_persona_path(persona_id: @persona.id), class: 'boton-naranjo', method: :get%>
          </div>
        </div>
      </div>
    </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12"> <h4>Votos disponibles</h4></div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="label-dashboard">
          <span class="label label-default"><%= @persona.voto_propio_disponible %> votos propios</span>
          <span class="label label-default" data-container="body" data-toggle="tooltip" data-placement="top" title="Máximo <%= @persona.votacion.total_maxima_representacion %>"><%= @persona.votos_extra_disponibles %> votos por poderes recibidos</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4>Poderes emitidos</h4>
    <%= render 'poders/list', :@poders => @poderes_enviados %>
    </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>Poderes recibidos</h4>
    <%= render 'poders/list', :@poders => @poderes_recibidos %>
  </div>
</div>