/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */


#principal {
    font-family: Avenir, sans-serif !important;
    background-image:url('fondo.png');
    background-size: 100%;
    color: #878787;
}i

.table-usuarios{
    width: 100px !important;
    margin-right: 200px;
}

.lista-vacia{
    margin-top: 100px;
    text-align: center;
}


#date{
    font-weight: 200;
    font-size: 107%;
    text-decoration: none;
    border-bottom: 1px solid #FB7824;
    padding-bottom: 0px;
}

#clock{
    font-weight: 600;
    font-size: 80%;
    font-style: oblique;
    padding-top: 3px;
}

#date-clock{
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}

@font-face {
    font-family: 'Avenir';
    src: url(<%= asset_path 'AvenirLTStd-Light.otf' %>) format("opentype");
    font-weight: 100;
}



@font-face {
    font-family: 'Avenir';
    src: url(<%= asset_path 'AvenirLTStd-Book.otf' %>) format("opentype");
    font-weight: 200;
}

@font-face {
    font-family: 'Avenir';
    src: url(<%= asset_path 'AvenirLTStd-Roman.otf' %>) format("opentype");
    font-weight: 200;
}

@font-face {
    font-family: 'Avenir';
    src: url(<%= asset_path 'AvenirLTStd-Medium.otf' %>) format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: 'Avenir';
    src: url(<%= asset_path 'AvenirLTStd-Heavy.otf' %>) format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: 'Avenir';
    src: url(<%= asset_path 'AvenirLTStd-Black.otf' %>) format("opentype");
    font-weight: 600;
}

@font-face {
    font-family: 'Avenir';
    src: url(<%= asset_path 'AvenirLTStd-LightOblique.otf' %>) format("opentype");
    font-weight: 100;
    font-style: oblique;
}

@font-face {
    font-family: 'Avenir';
    src: url(<%= asset_path 'AvenirLTStd-BookOblique.otf' %>) format("opentype");
    font-weight: 200;
    font-style: oblique;
}

@font-face {
    font-family: 'Avenir';
    src: url(<%= asset_path 'AvenirLTStd-RomanOblique.otf' %>) format("opentype");
    font-style: oblique;
}

@font-face {
    font-family: 'Avenir';
    src: url(<%= asset_path 'AvenirLTStd-MediumOblique.otf' %>) format("opentype");
    font-weight: 400;
    font-style: oblique;
}

@font-face {
    font-family: 'Avenir';
    src: url(<%= asset_path 'AvenirLTStd-HeavyOblique.otf' %>) format("opentype");
    font-weight: 500;
    font-style: oblique;
}

@font-face {
    font-family: 'Avenir';
    src: url(<%= asset_path 'AvenirLTStd-BlackOblique.otf' %>) format("opentype");
    font-weight: 600;
    font-style: oblique;
}

.vista-voto-listing{
    overflow-y: visible !important;
    margin-bottom: 10px !important;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
}

.vista-voto{
    height: auto !important;
    overflow-y: visible !important;
}





h1 {
    margin: 5px;
    font-weight: 600;
    font-size: 175%;
}

h2{
    margin: 5px;
    font-weight: 100;
    font-style: oblique;
    font-size: 110%;
}

h3{
    color: #FB7824;
    font-size: 150%;
    font-weight: 500;
    text-transform: uppercase;
    font-style: oblique;
}

h4{
    font-weight: 400;
    font-style: oblique;
    font-size: small;
    text-transform: uppercase;
    text-decoration: underline;
}

h5{
    font-weight: 400;
    font-style: oblique;
    font-size: small;
    text-transform: uppercase;
}

.thin-underline{
    text-decoration: none;
    border-bottom: 1px solid #FB7824;
}
.weigth-500{
    font-weight: 500;
}

.boton-poder{
    height: 48px !important;
    width: 80px !important;
}

.boton-poder{
    height: 40px !important;
    width: 70px !important;
}


.username{
    font-size: large;
    font-weight: 200;
}

.cargo{
    padding-top: 2px;
    padding-bottom: 70px;
    font-weight: 100;
    font-style: oblique;
}


.underline{
    text-decoration: none;
    border-bottom: 2px solid #FB7824;
}

.btn{
    height: 30px !important;
}

.boton-gris{
    padding-top: 5px !important;
    line-height: normal;
    background-color: #EDEDED;
    background-color: #EDEDED;
    color: #878787;
    padding: 1px 15px;
}


#nuevo_usuario {
    padding-top: 5px;
    margin-top: 15px;
    margin-left: 80px;
    vertical-align: bottom;
}

* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}


#modal-new-user{
    top:120px;
    left:950px;
    max-width: 250px;
}

#modal-new-poder{
    margin-left: 35%;
    margin-right: 35%;
    height: 500px;
    overflow-y: visible;
}

#modal-new-votacion{
    top:190px;
    left:1000px;
    max-width: 300px;
}

.form-box{

}

.selected{
    color: #FB7824;
    font-style: oblique;
}

.selected {
    a:link {
        color: #FB7824;
    }
    /* visited link */
    a:visited {
        color: #FB7824;
    }
    /* mouse over link */
    a:hover {
        color: #FB7824;
    }
    /* selected link */
    a:active {
        color: #FB7824;
    }
}

a:link {
    font-weight: 200;
    color: #878787;
}
/* visited link */
a:visited {
    font-weight: 200;
    color: #878787;
}
/* mouse over link */
a:hover {
    font-weight: 200;
    color: #878787;
}
/* selected link */
a:active {
    font-weight: 200;
    color: #878787;
}


.opcion-menu {
    padding-bottom: 10px;
}

.cerrar-sesion{
    font-style: oblique;
    font-weight: 100;
    font-size: smaller;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 10px;
}

.icono{
    margin-top: 2px;
    margin-right: 5px;
    margin-left: 20px;
    pointer-events: none;
    height: 35px;
    width: 35px;
}

.icono-urna{
    height: 45px;
    width: 45px;
    margin-right: 0px;
}



.login-form {
    margin-top: 100px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 400px;
}

.exit{
    font-weight: 600;
    font-size: medium;
}

.boton-wrapper{
    text-align: center;
}


.etiqueta{

}

.align-center{
    text-align: center;
}

.align-left{
    text-align: left;
}

.boton-ver{
    background-color: #FB7824;
    border: hidden;
    margin-right: 10px;
    display: inline;
    font-weight: 300;
    color: #ffffff;
    font-style: oblique;
    width: 52px;
    height: 32px;
}

.boton-aut{
    background-color: #FB7824;
    border: hidden;
    font-weight: 300;
    color: #ffffff;
    font-style: oblique;
    width: 90px;
    height: 32px;
}

.inactivo{
    background-color: #9D9D9C;
}

.td-ver form{
    display: inline;
}

.boton-naranjo{
    border: hidden;
    background-color: #FB7824;
    font-weight: 500;
    color: white;
    height: 30px;
    margin: 12px;
    font-size: large;
    /*position: absolute;*/
}



#new-user-submit{
    width: 110px;
    font-size: medium;
    margin: 25px auto;
}

#new-user-submit{
    width: 200px;
    font-size: medium;
    margin: 25px auto;
}

.text-field{
    background-color: rgba(237, 237, 237, 0.3);
    border: hidden;
    color: #575756;
    text-size: 300%;
    height: 25px;
    width: 250px;
    margin: 0 auto;
}

.login-form {

    ::-webkit-input-placeholder {
        color: white;
        text-align: center;
    }
    :-moz-placeholder {
        /* Firefox 18- */
        color: white;
        text-align: center;
    }
    ::-moz-placeholder {
        /* Firefox 19+ */
        color: white;
        text-align: center;
    }
    :-ms-input-placeholder {
        color: white;
        text-align: center;
    }
}

label{
    font-weight: 300;
}

.field{
    padding: 15px 15px 15px 15px;
}


.center{
    text-align: center;
    margin: auto;
    display: block;
}
.circulo{
    padding-top: 25px;
    padding-bottom: 25px;
    height: 170px;
    margin: auto;

}



.modal-dialog{
    width: inherit;
}

.modal-content{
    width: inherit;
    background-color: #F6F6F6;
}

.modal-centrado{
    margin-left: 35%;
    margin-right: 35%;

}

.normal-form-field{
    background-color: #EDEDED;
    text-align: center;
    color: #878787;
    border: hidden;
    margin: 4px;
    height: 25px;
    font-weight: 100;
    font-size: small;
    width: 100%;
}

.normal-form{
    text-align: center;
    margin: 12px auto;
    width: 90%;
}

.normal-form{
    ::-webkit-input-placeholder {
        color: #878787;
    }
    :-moz-placeholder {
        /* Firefox 18- */
        color: #878787;
    }
    ::-moz-placeholder {
        /* Firefox 19+ */
        color: #878787;
    }
    :-ms-input-placeholder {
        color: #878787;
    }
}

.mas{
    color: #32C666;
}


#title-row {
    background-color: #FB7824;
    padding-top: 14px;
    padding-bottom: 14px;
    color: #ffffff;
}

.cambio-estado{
    background-color: #FB7824;
    color: #ffffff !important;
    padding: 3px !important;
}

.menu-lateral{
    height: inherit;
    background-color: #F6F6F6;
    margin-top: 10px;
    -webkit-box-shadow: inset -9px 0px 6px -3px rgba(237,237,237,1);
    -moz-box-shadow: inset -9px 0px 6px -3px rgba(237,237,237,1);
    box-shadow: inset -9px 0px 6px -3px rgba(237,237,237,1);
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.menu-lateral-wrapper{
}

.col-central{
    margin-top: 10px;
    overflow-y: scroll;
    height: inherit;
    position: relative;
    background-color: #EDEDED;
    -webkit-box-shadow: -1px 0px 0px 0px rgba(218,218,218,1);
    -moz-box-shadow: -1px 0px 0px 0px rgba(218,218,218,1);
    box-shadow: -1px 0px 0px 0px rgba(218,218,218,1);
}


.gris{
    background-color: #EDEDED;
}


.instruccion{
    text-align: center;
    font-weight: 200;
    padding-bottom: 10px;
    font-size: large;
    font-style: oblique;
}

.votar-col{
    padding-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.cuadro-central{
    height: 550px;
}

.fondo-transparente-F6F6F6{
    background-color: #F6F6F6 !important;
    overflow-y: hidden !important;
}
.fondo-transparente{
    background-color: transparent !important;
    overflow-y: hidden !important;
}

.home-title{
    font-weight: 100;
    font-size: 300%;
    padding-bottom: 10%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}


#main-container{
    width: 95%;
    height: 97%;
    margin-top: 5px;
    background-color: rgba(0, 0, 0, 0);
    -webkit-box-shadow: 5px 5px 18px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 18px 0px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 18px 0px rgba(0,0,0,0.5);
}

.btn {
    border-radius: 0px;
}
span.green{
    color: green;
    font-size: 18px;
}
.home-title{
    color: rgba(255,255,255,255);
    position: absolute;
    top: 50%;
    left: 50%;
}

table{
    font-weight: 100;
    font-size: smaller;
    table-layout: fixed;
}

.not-fixed {
    table-layout: auto;
}

#principal th{
    font-size: 90%;
    font-weight: 200;
    text-align: center;
}

.modal-listing{
    max-height: none !important;
    overflow-y: hidden !important;
    width: inherit;
    margin: 0 0 !important;
    padding: 15px 15px;
}



.listing{
    background-color: #F6F6F6;
    overflow-x: hidden;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;

    td {
        background-color: #EDEDED;
        vertical-align: middle !important;
    }
    td.td-ver {
        background-color: transparent !important;
        padding: 0 0 !important;
        text-align: left;
        a:link {
            color: #ffffff;
        }
        /* visited link */
        a:visited {
            color: #ffffff;
        }
        /* mouse over link */
        a:hover {
            color: #ffffff;
        }
        /* selected link */
        a:active {
            color: #ffffff;
        }

        &:hover{
            background-color: #2E2F30;
            a{
                text-decoration: none;
            }
        }
    }

}

.salir{
    margin: 10px 10px;
    float: right;
}

.table-no-borders{
    border-width: 0px;
}
.table-no-border > thead > tr > th,
.table-no-borders > tbody > tr > th,
.table-no-borders > tfoot > tr > th,
.table-no-borders > thead > tr > td,
.table-no-borders > tbody > tr > td,
.table-no-borders > tfoot > tr > td {
    border-width: 0px;
}
.table-no-borders > thead > tr > th,
.table-no-borders > thead > tr > td {
    border-bottom-width: 0px;
}

.table-bordered {
    border: 5px solid #F6F6F6;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 5px solid #F6F6F6;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
    border-bottom-width: 5px;
}

.table-hover > tbody > tr:hover {
    background-color: #f5f5f5;
}
// Tooltips
.tooltip-inner {
    max-width: 200px;
    padding: 3px 4px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #000;
    border-radius: 4px;
}
//Rows
.col-central .row + .row{
    margin-top: 20px;
    margin-bottom: 10px;
}

//Mini menú título
.menu-title{
    display: inline-block;
}
.menu-title  small{
    margin-left: 10px;
}

.avanzar{
    padding-left: 5px;
}
div.no-decor{
    vertical-align: middle;
    text-decoration: none;
    display: inline;
    form{
        display: inline;
    }
    button {
        width: 250px;
        display: inline;
    }
}
a.no-decor:hover{
    text-decoration: none !important;
 }


//Parámetros
img.dashboard{
    height: 45px;
    vertical-align: middle;
    color: #878787;
}
img.estado{
    height: 39px;
    vertical-align: middle;
    color: #878787;
}


//Poderes
#poderes-chart{
    width: 75%;
    margin-left: 7%;
    margin-right: 70%;
}

//Socios y representados en dashboard
span.label{
    font-family: "Avenir";
    font-size: large;
    text-align: center;
    margin-left: 1%;
    margin-right: 2%;
    font-weight: normal;
    padding: 10px;
    color: #F6F6F6;
}
.label-default {
    background-color:  #9D9D9C;
    font-size: medium !important;
}
.label-default:hover,
.label-default:focus {
    background-color: #575756;
}



.label-dashboard{
    margin: 20px;
}
.titulo-seccion{
    margin-left: 15px;
    margin-top: 15px;
}
//Cabinas
.servidor{
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.caption-cabina{
    text-align: center;
}
.remove-cabina{
    display: block;
    width: 100%;
    z-index: 1500;
    span{
        font-size: 10px;
        text-align: center;
    }
    a{
        margin-left: 90%;
    }
}
.add-cabina{
    font-size: 100px;
    text-align: center;
}

//Candidatos
ul.candidatos{
    column-count: 3;
    column-gap: 0;
    width: 100%;
    list-style-type: none;
    li{
        display: inline-block;
        width: 100%;

    }
}

//Vocal de mesa
.vocal{
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 100px;
}


//No mostrar las líneas en gráfico de barras
.tick line {
    opacity: 0 !important;
}

//Tamaño gráficos de torta en resultados
div.total[id^="pie-chart-"]{
    height: 350px;
}
div[id^="pie-chart-"]{
    height: 300px;
}
h6.chart{
   margin: 0px;
    line-height: 2em;
}
.cuadratura{
    margin-top: 50px;
}

//Edit votacion
.edit-votacion{
    padding: 10px;
}

//personas
.label-warning {
    background-color: #32C666;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
    background-color: #5ad184;
}
//form agregar
.enviar-persona{
    margin-top: 10px;
}
.logo{
    margin-right: 10px;
    float: right;
    height: 4em;
}

.nvd3-svg{
    overflow: visible !important;
}

.nomina .row + .row{
    margin-top: 20px;
    margin-bottom: 10px;

}
.nomina{
    th,td{
        alignment: left ;
    }
    header p{
        float: right;
        text-align: right;
    }
    .logo{
        width: 200px;
        height: auto;
    }
    h2{
        font-weight: bold;
    }
    p{
        text-align: left;
    }

}