<style>

</style>

<div class="row center">
  <%= image_tag "circulo.svg", class:"circulo", type: 'image/svg+xml'%>
</div>
<div class="row username center">
  <span class="underline"><%= current_user.username %></span>
</div>
<div class="row cargo center">
  <%= current_user.tipo_str %>
</div>

<div class="row opcion-menu<%=' selected' if @inicio %>">
  <%= link_to "<img class=\"icono\ icono-inicio\" type='image/svg+xml' src=\"#{ asset_path 'casa.svg' }\"></object> Inicio".html_safe, home_index_path %>
</div>
<div class="row opcion-menu<%=' selected' if params[:controller] == 'users' %>">
  <%= link_to "<img class=\"icono\ icono-persona\" type='image/svg+xml' src=\"#{ asset_path 'persona.svg' }\">Usuarios</img>".html_safe, users_path %>
</div>
<div class="row opcion-menu<%=' selected' if params[:controller] == 'votacions' %>">
  <%= link_to "<img class=\"icono\ icono-urna\" type='image/svg+xml' src=\"#{ asset_path 'urna.svg' }\">Votaciones</img>".html_safe, votacions_path %>
</div>
<div class="row cerrar-sesion">
  <%= link_to "<span class=\"exit\">&times;</span> CERRAR SESSIÓN".html_safe, '/logout'%>
</div>


