<!DOCTYPE html>
<html>
<head>
  <title>SistemaVotacion</title>
  <%# stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%# javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag "application", params[:controller], :media => "all" %>
  <%= stylesheet_link_tag "nv.d3", :media => "all" %>
  <%= javascript_include_tag "application", params[:controller] %>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= javascript_include_tag "d3" %>
  <%= javascript_include_tag "nv.d3" %>


  <%= csrf_meta_tags %>
</head>
<body id="principal">



<div id="main-container" class="container">
  <div class="row" id="title-row">
    <div class="col-md-6">
      <h1>SISTEMA DE VOTACIÓN</h1>
      <h2>SERMECOOP</h2>
    </div>
    <div class="col-md-1 col-md-offset-4">
      <%= image_tag 'logo_sermecoop2.png', class: 'logo', title: 'Sermecoop: mejor salud' %>
    </div>
    <div class="col-md-1">
      <%= image_tag 'logo_kunlabora2.png', class: 'logo', title: 'KUNLABORA: cooperativismo - sustentabilidad'%>
    </div>


  </div>
  <div class="row cuadro-central">
      <% if current_user %>

          <div class="col-md-2 menu-lateral">
            <div class="menu-lateral-wrapper">
                <%= render 'layouts/menu_lateral'%>
            </div>
          </div>
          <div class="col-md-10 col-central <%= 'fondo-transparente' if @inicio%>">
            <%= render 'layouts/clock' %>
              <%= yield %>
          </div>
      <% elsif params[:controller] == 'portal_votante' %>
          <div class="col-md-12 col-central <%= 'fondo-transparente' if @inicio%> <%= 'vista-voto' if !@inicio%>">
            <%= render 'layouts/clock' %>
            <%= yield %>
          </div>
      <% elsif params[:controller] == 'personas' %>
        <div class="col-md-12 col-central">
          <%= yield %>
        </div>
      <% else %>
        <%= yield %>
      <% end %>
  </div>
</div>

</body>
</html>
